[submodule "erasure/reform"]
	path = erasure/reform
	url = https://github.com/aiim-research/REFORM.git
[submodule "dev"]
	path = dev
	url = https://github.com/aiim-research/erasure-dev.git
[submodule "configs/ICLR_benchmark"]
	path = configs/ICLR_benchmark
	url = https://github.com/dangeloandrea14/ERASURE_dev
